*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: linear-gradient(to right, #b972ff,  #e883c5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section{
    background-color: white;
    height: ;
    width: 420px;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 3px 3px 5px 5px;
}
section h1{
    font-size: 30px;
    color: #3562F2;
    text-align: center;
    margin-bottom: 20px;
}
.input-box{
    width: 100%;
    position: relative;
    margin-bottom: 25px;

}
.input-box input{
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    outline: none;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255,0.2);
    color: white;

}
.logo1{
    height: 18vh;
    width: 10VW;
    border-radius: 50%;
    border: 2px solid rgb(10, 10, 15);
}
button{
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    background-color: #FAA623;
    color: white;
}
.btn{
    height: 10vh;
    background-color: #FAA623;
    width: 5vw;
}
